.body
{
	padding-top: 100px;
	background: #D9D6CE;
}

.navfont
{
	font-family: 'Bebas Neue', cursive;
	font-size:150%;
	color: white;
}

.buttonfont
{
	font-family: 'Playfair Display', serif;
	font-size: 150%;
	color:white;
}

.welcome
{
	font-family: 'Playfair Display', serif;
	text-decoration:italic;
	font-size:300%;
	text-align:left;
}

.cardtitlefont
{
	font-family: 'Bebas Neue', cursive;
	font-size:150%;
	color: black;
}

.cardfont
{
	font-family: 'Playfair Display', serif;
	text-decoration:italic;
	font-size:100%;
	text-align:left;
}

.bodyfont
{
	font-family: 'Playfair Display', serif;
	font-size: 150%;
	color:black;
}

.margintop
{
	margin-top:50px;
}

.center
{
	justify-content: center;
	align-items: center;
}


.dropdown
{
	color: black;
}

.bg-dark
{
    background-color: black !important;
	border: none !important;
}

.bg-brown
{
    background-color: #D9D6CE !important;
	border: none !important;
}

.bg-white
{
	background-color: white !important;
	border: none !important;
}

.textcenter
{
	text-align: center;
}